.inline-img {
  height: 1rem;
}

.fediverse-verification ul {
  display: flex;
  flex: auto;
  justify-content: center;
  position: relative;
}

.fediverse-verification li {
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}
